@model IEnumerable<NaviItem>

<!--BEGIN TITLE & BREADCRUMB PAGE-->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">
            @ViewBag.Title
        </div>
    </div>
    <ol class="breadcrumb page-breadcrumb pull-right">
        @foreach (var naviItem in Model)
        {
            if (naviItem.IsActive)
            {
                <li class="active">
                    @Html.Raw(naviItem.Title)
                </li>
            }
            else
            {
                <li><i class="fa fa-home"></i>&nbsp;<a href="@naviItem.Url">@naviItem.Title</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            }
        }
    </ol>
    <div class="clearfix">
    </div>
</div>
<!--END TITLE & BREADCRUMB PAGE-->
