<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--<add key="notificationFromEmail" value="fast2buy@2fast2buy.com" />
    <add key="notificationFromPassword" value="Fm84e*6s" />-->
    <add key="notificationFromEmail" value="amazonnotificator@ethereum.by" />
    <add key="notificationFromPassword" value="Nikita12345" />
  </appSettings>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-AmazonHelper.WebApp-20160410054052.mdf;Initial Catalog=aspnet-AmazonHelper.WebApp-20160410054052;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="AmazonHelperDb" connectionString="Data Source=(local);Initial Catalog=AmazonHelperDb;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="AmazonHelperDb" connectionString="Data Source=w07.hoster.by;Initial Catalog=aggregat_AmazonHelperDb;User ID = aggregat_aggregat; Password=kai7LeeN;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>